body{
    background-color: rgba(231, 214, 214, 0.367);
}
section{
    border: 2px solid rgba(128, 128, 128, 0.637);
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 30px;
}
.capital::first-letter{
    font-size: 50px;
    color: red;
    display: inline-block;
}
.capital::first-line{
    font-size: 25px;
}
p{
    margin: 0px;
    margin-left: 20px;
    line-height: 25px;
}
p:nth-child(3){
    background-color: rgba(255, 255, 0, 0.34);
}
p:nth-child(5){
       border: 10px solid rgb(191, 235, 237);
       background-color: rgba(76, 207, 76, 0.54);
       margin: 30px;
       margin-left: 20px;
       font-weight: bold;
       border-radius: 5px;
}
.no:nth-child(3){
    background-color: rgba(128, 128, 128, 0);
}
.no:nth-child(4){
    margin-bottom: 30px;
}
section:nth-child(2){
    background-color: whitesmoke;
}
.red{
    border-left: 5px solid red;
    text-indent: 15px;
}