* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
    text-align: center;
    width: 100%;
    padding-left: 15px;
    padding-top: 22px;
    padding-right: 15px;
}
section{
    background-color: gray;
    text-align: center;
    width: 100%;
   padding-left: 15px;
   padding-top: 22px;
   padding-right: 15px;
    margin-top: 30px;
}

.flex {
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-top: 20px;
}
.text{
    color: white;
    margin-top: 20px;
    font-size: 17px;
    text-align: justify;
    letter-spacing: 1px;
}
.yellow{
    background-color: yellow;
    height: 300px;
    width: 1480px;
    margin-top: 30px;
    display: flex;
}
.box{
    background-color: rgb(255, 216, 165);
    height: 110px;
    width: 110px;
    text-align: center;
    color: black;
}
li{
    margin-left: 30px;
}
.one{
    display: flex;
    justify-content: flex-start;
}
.two{
    display: flex;
    justify-content: flex-end;
}
.three{
    display: flex;
    justify-content: center;
}
.four{
    display: flex;
    justify-content: space-between;
}
.five{
    display: flex;
    justify-content: space-around;
}
.six{
    display: flex;
    justify-content: space-evenly;
}
.seven{
    display: flex;
    align-items:flex-start;
}
.eight{
    display: flex;
    align-items: flex-end;
}
.nine{
    display: flex;
    align-items: center;
}
.ten{
    display: flex;
    align-content: stretch;
}
.eleven{
    display: flex;
    flex-wrap: wrap;
    /* align-items: space-between; */
    align-content: space-between;
}
.twlan{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.therteen{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}